@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Edu+SA+Beginner:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Caveat", cursive;
  background: rgb(112, 145, 183);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 5rem;
}
h3 {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 0.7rem;
  letter-spacing: 1px;
}

h5 {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.card {
  background-color: #fff;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.img-card {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.img-card img {
  background-position: center;
  background-size: cover;
}

.review {
  padding-bottom: 1rem;
}
.star {
  color: rgb(52, 112, 215);
  font-size: 0.8rem;
}

p {
  font-family: "Edu SA Beginner", cursive;
}

.prevBtn,
.nextBtn {
  color: orangered;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  max-width: 45px;
  max-height: 45px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease;
}

.nextBtn {
  position: absolute;
  top: 10%;
  right: 14%;
}

.prevBtn {
  position: absolute;
  top: 10%;
  right: 24%;
}

.btn:hover {
  background-color: rgb(52, 112, 215);
  color: #fff;
}

@media only screen and (max-width: 510px) {
  .card {
    width: 90%;
    padding-bottom: 20px;
  }

  .prevBtn {
    position: absolute;
    top: 10%;
    right: 16%;
  }
}
