* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #4caf50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  color: white;
  text-align: center;
  height: 200px; /* Optional: to give vertical space */
}

header h1,
header p {
  margin: 0;
}
